{
  "extends": [
    "plugin:prettier/recommended",
    "react-app",
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "react-hooks", "prettier"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": ["error", { "endOfLine": "auto" }]
  },
  "ignorePatterns": ["vite.config.ts"]
}
