@font-face {
  font-family: "LineSeedKR";
  font-weight: bold;
  src: local("NotoSansKR"),
    url("../assets/fonts/LINESeedKR-Bd.eot") format("embedded-opentype"),
    url("../assets/fonts/LINESeedKR-Bd.ttf") format("truetype"),
    url("../assets/fonts/LINESeedKR-Bd.woff") format("woff"),
    url("../assets/fonts/LINESeedKR-Bd.woff") format("woff2");
}

@font-face {
  font-family: "LineSeedKR";
  font-weight: 500;
  src: local("NotoSansKR"),
    url("../assets/fonts/LINESeedKR-Rg.eot") format("embedded-opentype"),
    url("../assets/fonts/LINESeedKR-Rg.ttf") format("truetype"),
    url("../assets/fonts/LINESeedKR-Rg.woff") format("woff"),
    url("../assets/fonts/LINESeedKR-Rg.woff") format("woff2");
}

@font-face {
  font-family: "LineSeedKR";
  font-weight: 300;
  src: local("NotoSansKR"),
    url("../assets/fonts/LINESeedKR-Th.eot") format("embedded-opentype"),
    url("../assets/fonts/LINESeedKR-Th.ttf") format("truetype"),
    url("../assets/fonts/LINESeedKR-Th.woff") format("woff"),
    url("../assets/fonts/LINESeedKR-Th.woff") format("woff2");
}